html {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px
}
@media screen and (min-width: 641px) {
    html {
        font-size: 16px;
    }
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 80vw;
}
@media screen and (min-width: 641px) {
    body {
        width: 640px;
    }
}
#thumb-bar img {
    width: 20%;
}
.displayed-img {
    width: 100%;
}
.title {
    text-align: center;
}
.user_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
@media screen and (min-width: 641px) {
    .user_input {
        flex-direction: row;
        justify-content: space-around;
    }
}